img.avatar {
    border-radius: 5%;
}
.blog {
    padding: 15px;
}

.fn-flex {
    
.avatar {
    margin-right: 10px;
    height: 40px;
    width: 40px;
    margin-top: 2px;

}

h2.article-list__title {
    margin: 1px 0 !important;
}
.fn__flex-1 {
    flex: 1;
    min-width: 1px;
    font-size: 13px;
    color: #919191;
}
.fn__flex {
    display: flex;
}
.tag-r {
    float: right;
    margin-top: -3px;
}

}
